.App {
  width: 100%;
  height: 100vh;
  background: url("./assets/paysage-naturel_2560x2048.jpg") no-repeat center
    center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.cardContent {
  background-color: #ffffffa8;
  width: 70%;
  border-radius: 25px;
  margin: 25px auto;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  font-family: Roboto;
}
.weatherIcon {
  width: 100px;
  height: 100px;
  background: #7a98cabf;
  border-radius: 50%;
}
